@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br />
  <div class="DIV_titulo">
            <p>=== I N I C I O ===</p>
  </div>
  <br /><br />

 <div class="flex-container0">
   <div class="container0">
     <div class="container0_div_content">
                  <p>Bienvenido, ésta página fue creada para ayudar a las personas que padecen enfermedades como la diabetes u obesidad, a encontrar un sitio donde 
                      puedas encontrar un especialista en tu caso.
                  </p>
     </div>
  </div>
  <div class="container0_1">
     <div class="container0_div_content">
                  <img src="../img/cereal-5712343.jpg" alt="food"/>
     </div>
  </div>

  <div class="container0_1">
     <div class="container0_div_content">
                  <img src="../img/frutitas.jpg" alt="food"/>
     </div>
  </div>
 </div>

