@page
@model PrivacyModel
@{
    ViewData["Title"] = "Locations";
}


  <div class="DIV_titulo">
            <p>=== U B I C A C I O N E S ===</p>
  </div>
  <br /><br />

 <div class="flex-container">


  <div class="container1">
     <div class="container1_div_top">
         <p class="fuente_tarjetas">Lic. Karina Garza Hernández
             MTY N.L.
         </p>
     </div>

     <div class="container1_div_content">
                  <iframe 
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3595.2777734582432!2d-100.3403506995209!3d25.69522557857047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x866295e7be099f1f%3A0x38da04b30a558e68!2sEnsenada%20206%2C%20Mitras%20Centro%2C%2064460%20Monterrey%2C%20N.L.!5e0!3m2!1ses!2smx!4v1645923397420!5m2!1ses!2smx" 
                      width:100%
                      height:100% 
                      style="border:0;" 
                      allowfullscreen="" 
                      loading="lazy">
                  </iframe>
     </div>
  </div>

  <div class="container1">
     <div class="container1_div_top">
         <p class="fuente_tarjetas">Lic. Edith Lozano Grimaldo</p>
     </div>
     <div class="container1_div_content">
                  <iframe 
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3595.2950122024167!2d-100.35916718456133!3d25.694654617642406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x866297434f30ed9f%3A0x9d8627a5875b300d!2sLozano%20nutrici%C3%B3n%20%2F%20nutri%C3%B3loga!5e0!3m2!1ses!2smx!4v1645928554581!5m2!1ses!2smx"
                      width:100%
                      height:100% 
                      style="border:0;" 
                      allowfullscreen="" 
                      loading="lazy">
                  </iframe>
     </div>
  </div>

  <div class="container1">
     <div class="container1_div_top">
         <p class="fuente_tarjetas">Dra. Sofia Alarcón</p>
     </div>
     <div class="container1_div_content">
                  <iframe 
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3596.7483543622093!2d-100.2690859245457!3d25.64647616554068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662bf0d09fbd41d%3A0x5a1a56b805c5f89b!2sMedicina%20y%20Nutrici%C3%B3n!5e0!3m2!1ses!2smx!4v1645928813732!5m2!1ses!2smx"
                      width:100%
                      height:100% 
                      style="border:0;" 
                      allowfullscreen="" 
                      loading="lazy">
                  </iframe>
     </div>
  </div>

  <div class="container1">
     <div class="container1_div_top">
         <p class="fuente_tarjetas">Lic. Ricardo Javier Pérez Rodríguez </p>
     </div>
     <div class="container1_div_content">
                  <iframe 
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3596.548203400317!2d-100.36005399999999!3d25.6531162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x282f1e632438b916!2zMjXCsDM5JzExLjIiTiAxMDDCsDIxJzM2LjIiVw!5e0!3m2!1ses!2smx!4v1645929927685!5m2!1ses!2smx"
                      width:100%
                      height:100% 
                      style="border:0;" 
                      allowfullscreen="" 
                      loading="lazy">
                  </iframe>
     </div>
  </div>

  <div class="container1">
     <div class="container1_div_top">
         <p class="fuente_tarjetas">E.N.C Yazmín Azucena Torres J.</p>
     </div>
     <div class="container1_div_content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d755.9770203923067!2d-100.35348653537129!3d25.66953756636265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662bdff1cc5cc59%3A0x7471e11de045f4ae!2sCentro%20M%C3%A9dico%20AVE!5e0!3m2!1ses!2smx!4v1646084900425!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
     </div>
  </div>

    <div class="container1">
     <div class="container1_div_top">
         <p class="fuente_tarjetas">Nutr. Clínica Ana Carolina Orduño</p>
     </div>
     <div class="container1_div_content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d755.9770203923067!2d-100.35348653537129!3d25.66953756636265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662bdff1cc5cc59%3A0x7471e11de045f4ae!2sCentro%20M%C3%A9dico%20AVE!5e0!3m2!1ses!2smx!4v1646084900425!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
     </div>
  </div>


  <div class="container1">
     <div class="container1_div_top">
         <p class="fuente_tarjetas">Nutr. Clínica Ana Carolina Orduño</p>
     </div>
     <div class="container1_div_content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d755.9770203923067!2d-100.35348653537129!3d25.66953756636265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662bdff1cc5cc59%3A0x7471e11de045f4ae!2sCentro%20M%C3%A9dico%20AVE!5e0!3m2!1ses!2smx!4v1646084900425!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
     </div>
  </div>
 </div>

 
 